<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" />
    <title>Bluesky to RSS bridge</title>
  </head>
  <body>
    <div>Subscribe to Bluesky users via RSS!</div>
    <div>
      <form action="/handle">
        <label for="handle">Enter the handle of a Bluesky user you want to follow:</label>
        <input type="text" name="handle" id="handle" required autofocus />
        <div>
          (Optionally) filter the feed:
          <input type="radio" id="filter-all" name="filter" value="all" checked />
          <label for="filter-all">All</label>
          <input type="radio" id="filter-self" name="filter" value="self" />
          <label for="filter-self">Self-Posts Only</label>
          <input type="radio" id="filter-replies" name="filter" value="noreplies" />
          <label for="filter-replies">No Replies</label>
          <input type="radio" id="filter-media" name="filter" value="media" />
          <label for="filter-media">Media</label>
        </div>
      </form>
    </div>
  </body>
</html>
